<!DOCTYPE html>
<html>
<head>
<title>Prateek Saraf -  Resume</title>

<meta name="viewport" content="width=device-width"/>
<meta name="description" content="Resume of Prateek Saraf."/>
<meta charset="UTF-8"> 

<link type="text/css" rel="stylesheet" href="style.css">

<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>

<![endif]-->
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<body id="top">
<div id="cv" class="instaFade">
	<div class="mainDetails">
		<div id="headshot" class="quickFade">
      <%= image_tag('my pic.jpeg',alt: 'Prateek Saraf') %>
<!--			<img src="headshot.jpg" alt="Alan Smith" />-->
		</div>
		
		<div id="name" >
			<h1 class="quickFade delayTwo">Prateek Saraf</h1>
			<h3 class="quickFade delayThree">Technical Program Manager at GoJek</h3>
      <h3 class="quickFade delayThree">Ex SAP</h3>
      <div class="clear"></div>
		</div>

		<div id="contactDetails"  class="quickFade delayFour">
			<ul>
				<li> <a href="mailto:prateeksaraf2010@gmail.com" target="_blank">prateeksaraf2010@gmail .com</a></li>
				<li> <a href="https://github.com/prateeksaraf2010">https://github.com/prateeksaraf2010</a></li>
				<li> 7022982333</li>
			</ul>
		</div>
		<div class="clear"></div>
	</div>
	
	<div id="mainArea" class="quickFade delayFive">
		<section>
			<article>
				<div class="sectionTitle">
					<h1>Personal Profile</h1>
				</div>
				
				<div class="sectionContent">
          <p>Technical Program manager experienced with Agile methodologies on multiple roles including Program management ,Development , Support , Implementation and Delivery of solutions and technical training’s.

          <h2>What about me at work?</h2>
          I'm extrovert, talkative and sociable with an immense interest in expanding my knowledge. Energy, curiosity and commitment are my best advisers everyday on the job and Work gives me a feeling of accomplishment.
          </p>
				</div>
			</article>
			<div class="clear"></div>
		</section>
		
		
		<section>
			<div class="sectionTitle">
				<h1>Work Experience</h1>
			</div>
			
			<div class="sectionContent">
        <article>
          <h2>Technical Program Manager at GoJek</h2>
          <p class="subDetails">March 2021 - Present</p>
          <p>&#8226 Executing the adoptions of monitoring solutions across several teams in GoJek built with Prometheus and Grafana for a goal of setting SLOs across the organization.<br/>
            &#8226 Managing and executing programs across GoJek like Setting up Critical / Warning alerts , Defining SLO journey , Developing standards ) to adopt the standardize solutions , and follow Development standards so that there is no silos in development teams across GoJek wrt Engineering platform.<br/>
            &#8226 Working towards the API Browser with API documentation for the services offering from multiple teams so there is no information gap in developers.</p>
        </article>

					<h2>Technical Program Specialist at Sopra Steria</h2>
					<p class="subDetails">September 2020 - March 2021</p>
          <p> &#8226 Involved in cross team collaboration and communicate with clients to define the milestones and mapping the technical feasibility aligning with the engineering team.
          <br/>&#8226 Worked as a Technical program specialist to deliver a robust financial services data platform for a leading bank in Germany.</p>
				</article>
				
				<article>
					<h2>Business Consultant at SAP</h2>
					<p class="subDetails">March 2015 - September 2020</p>
          <p>&#8226 Implemented low latency data platform using in-memory and columnar database for a leading bank in Singapore catering to their analytical business needs
            <br/>&#8226 Lead the technical implementation in Dubai for a leading bank to understand and map the requirements for reporting business and managed the milestones delivery
            <br/>&#8226 Engaged with Product engineering teams to evolve the product from 1.1 to 1.10 based on client feedbacks and business need
            <br/>&#8226 Engaged in executing the initiatives to implement new automated services in order to reduce implementation cost and effort upto 2x.
            <br/>&#8226 Delivered training’s and managed technical end to end implementations.
            <br/>&#8226 Designed & Developed the interfaces for industry integration for the supply chain requirements- involved in architecting and delivering the solution
            <br/>&#8226 Developed inbound and outbound integration of master data with cross product areas</p>
        </article>
				
				<article>
					<h2>Associate Developer at CA Technologies</h2>
					<p class="subDetails">June 2014 - March 2015</p>
					<p>Developed solutions for business demand on procurement platform</p>
				</article>
			</div>
			<div class="clear"></div>
		</section>
		
		
		<section>
			<div class="sectionTitle">
				<h1>Key Skills</h1>
			</div>
			
			<div class="sectionContent">
				<ul class="keySkills">
					<li>Program Management</li>
					<li>Program Execution</li>
          <li>Full stack Development</li>
					<li>SAP HANA database</li>
					<li>C++ and Java</li>
					<li>Google Cloud Platform</li>
          <li>Agile Methodologies</li>
          <li>Object Oriented Programming</li>
          <li>Git</li>
          <li>Stakeholder management</li>
          <li>People management</li>
          <li>Engineering management</li>
          <li>Architectural Design</li>
          <li>Coaching and mentoring</li>
          <li>TDD</li>

				</ul>
			</div>
			<div class="clear"></div>
		</section>
		
		
		<section>
			<div class="sectionTitle">
				<h1>Education</h1>
			</div>
			
			<div class="sectionContent">
				<article>
					<h2>VIT University,Vellore</h2>
					<p class="subDetails">B.Tech Computer Science(2010-2014)</p>
					<p>Graduated with a GPA of 9.2 and awarded with Student Achiever for outperforming in academics and extra curricular</p>
				</article>
				

			</div>
			<div class="clear"></div>
		</section>
		
	</div>
</div>

</body>
</html>